<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwh.social.api.mapper.PayMapper" >
  <resultMap id="BaseResultMap" type="com.zwh.social.api.model.Pay" >
    <id column="pay_id" property="payId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pay_id, user_id, order_no, order_type, amount, subject, body, channel, ip, state, create_date
  </sql>
  <insert id="add" parameterType="com.zwh.social.api.model.Pay" >
    insert into pay (pay_id, user_id, order_no, 
      order_type, amount, subject, body, 
      channel, ip, state,  create_date)
    values (#{payId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, #{subject,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="com.zwh.social.api.model.Pay" >
    update pay
    set state = #{state,jdbcType=INTEGER},
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
</mapper>